body {
    margin: 0;
    padding: 0;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#dock {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    height: 46px;
    border-radius: 18px;
    border: 3px solid #6699cc;
    background-color: #99ccff;
    width: fit-content;
}
#dock ul {
    padding: 0;
    padding-right: 5px;
    margin: 0 auto;
    list-style-type: none;
}
#dock ul li img, 
#dock ul li svg {
    margin-top: 5px;
    height: 16px;
}
#dock ul li {
    display: block;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: #fff;
    border: 3px solid #6699cc;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
    margin-bottom: 0;
}
#dock ul li.line {
    width: 3px;
    border: 0;
    height: 36px;
    background-color: #6699cc;
}
#dock ul li.line:hover {
    background-color: #6699cc;
}

#dock ul li a, #dock ul li a.active, 
#dock ul li a.visited, 
#dock ul li a.linked {
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #6699cc;
    text-decoration: none;
    display: block;
}

#dock ul li:hover {
    background-color: #6699cc;
    transition: 0.2s;
    cursor: pointer;
} 
#dock ul li:hover svg {
    transition: 0.2s;
    color: #fff;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}